:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196F3;
    --white-bgc: #FFFFFF;
    --hero-bgc: #2F303A;
    --white-color: #FFFFFF;
    --secondary-white-color: #F5F5F5;
    ;
    --third-white-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --fill-color-icons: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

*,
*::before,
*::after {
    box-sizing: inherit;
}