body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    margin: 0;
}

.link {
    text-decoration: none;
}

.colortext {
    color: var(--black-color);
}

.colortext_footer {
    color: var(--white-color);
}

.section-title {
    color: var(--primary-text-color)
}

